extends layout

block content
  h1 #{title}
  form(method='POST', action='/events/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body')
    #form-group
      label Upload Image:
      input.form-control(name='eventImage', type="file")
    br
    input.btn.btn-primary(type='submit',value='Submit')
